---
import AboutMe from '../components/AboutMe.astro';
import AppLogo from '../components/AppLogo.astro';
import Contact from '../components/Contact.astro';
import Drawer from '../components/Drawer.astro';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Menu from '../components/Menu.astro';
import MyProjects from '../components/MyProjects.astro';
import Section from '../components/Section.astro';
import {
	ID_ABOUT_ME,
	ID_CONTACT,
	ID_EXPERIENCE,
	ID_HERO,
	ID_MY_PROJECTS,
	MARTIN_JORDAN,
	menuItems,
} from '../constants';
---

<html lang='en' class='scroll-smooth'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.ico' />
		<meta name='generator' content={Astro.generator} />
		<meta property="og:title" content={MARTIN_JORDAN}>
		<title>{MARTIN_JORDAN}</title>
	</head>

	<body class='flex-col h-screen'>
		<Header>
			<AppLogo />
			<Menu client:load items={menuItems} />
		</Header>
		<main class='px-4 sm:px-8 md:px-16 lg:px-36 2xl:px-96'>
			<Section id={ID_HERO}>
				<Hero />
			</Section>
			<Section id={ID_ABOUT_ME}>
				<AboutMe />
			</Section>
			<Section id={ID_EXPERIENCE}>
				<Experience />
			</Section>
			<Section id={ID_MY_PROJECTS}>
				<MyProjects />
			</Section>
			<section id={ID_CONTACT} class='flex flex-col min-h-screen justify-start pt-[90px] sm:justify-center'>
				<Contact />
				<Footer />
			</section>
			<Drawer />
		</main>
		<script src='../../node_modules/flowbite/dist/flowbite.js'></script>
	</body>
</html>
